<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:th="http://www.thymeleaf.org">
    <head><title/></head>
    <body>
        <div th:fragment="script-footer">
            <!-- Placed at the end of the document so the pages load faster -->
            <script th:inline="javascript" th:if="${page!=null and page.gaId != null}">
                /* Set up pageId for tracker opt in script */
                /*<![CDATA[*/
                var pageId = /*[[${page.gaId}]]*/ undefined;
                /*]]>*/
            </script>
            <script th:if="${page!=null and page.gaId != null}" th:src="@{/js/lifs-matomo-opt-in.js}" src="/js/lifs-matomo-opt-in.js" type="text/javascript"></script>
            <script>
              const yasgui = new Yasgui(document.getElementById("yasgui"));
            </script>
            <script th:src="@{/js/app.js}" src="/js/app.js" type="text/javascript"></script>
        </div>
    </body>
</html>